body {
    font-family: "Segoe UI Regular", system-ui, -apple-system, BlinkMacSystemFont, 
    "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

    background-color: #121212;
    color: white;
    margin: 0;
}

header h1 {
    margin-top: 48px;
    margin-left: 52px;
    text-align: left;
    font-size: 45pt;
    font-weight: lighter;
    line-height: 45px;
    margin-bottom: 15px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    position: relative;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 1138px;
    height: 663px;
    background-color: #1d1d1d;
    border: 2px solid #202020;
}

#wrapper:hover {
    border: 2px solid #0096ff;
}

nav {
    float: left;
    margin-left: 49px;
    width: 443px;
    height: 491px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navigation_bar {
    margin-top: 21px;
    height: 107px;
    width: 443px;
    background-color: #333337;
    cursor: pointer;
}

#navigation_bar:hover {
    background-color: #3f3f40;
}

#navigation_icon {
    margin-left: 24px;
    margin-top: 16px;
    background-repeat: no-repeat;
    width: 26px;
    height: 28px;
    border:0;
}

#navigation_title {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 21.29pt;
    margin-bottom: 0;
}

#navigation_description {
    font-size: 11px;
    margin-left: 110px;
    margin-right: 15px;
}

main {
    float: left;
    margin-top:  21px;
    margin-left: 45px;
    margin-right: 45px;
    height: 491px;
    width: 550px;
}

main h1 {
    margin-top: 0;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 29.99pt;
}

footer p {
    float: left;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 9pt;
    color: #0096ff;
    margin-bottom: 0px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer_icon {
    margin-top: 13px;
    margin-left: 6px;
    width: 12px;
    height: 11px;
}

#console_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10em;
    background-color: #111111;
    font: 11pt/1.25 Monaco, monospace;
}

#console_bar textarea {
    width: 100%;
    height: 81%;
    background-color: #111111;
    color: white;
    border: 0;
    cursor: default;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

#console_bar textarea:focus {
    outline: none;
}

#console_bar input {
    margin-top: 0;
    outline: none;
    border: 0;
    background-color: #121212;
    color: #0096ff
}

#debug { color: Snow; }
#info  { color: LawnGreen; }
#warn  { color: GoldenRod; }
#error { color: red; }
