header, nav, main, footer { display: block; }

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Verdana';
    color: #222222;
    background-color: #99C8E2;
    background-image: url(Images/body_Image.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.site_Index {
    display: inline-block;
    margin-left: 8px;
    width: auto;
    height: auto;
}

.site_Title h1 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.site_Title { margin-left: 2.5em; }
.site_Title h2 { margin-top: 0; }

.site_Box {
    float: left;
    width: 20px;
    height: 20px;
}

.site_Label {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
    display: inline-block;
}

#wrapper {
    background-color: snow;
    width: 1111.830px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}

#logo {
    margin: 1em;
    background-color: black;
    background-repeat: no-repeat;
}

#search {
    float: right;
    margin-right: 2em;
    margin-top: 1.5em;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 4px;
}

header { width: 100%; }

nav {
    margin: 0;
    width: 100%;
    height: 20px;
}

nav ul { 
    margin: 0;
    list-style-type: none; 
    text-align: center;
}

nav li {
    margin-top: 0.5em;
    margin-right: 5%; 
    display: inline-block;
}

body a:link { color:#222222; }
body a:visited { color:#222222; }
nav a:hover{ border-bottom: 3px solid #008cff; }
body a{ text-decoration: none; }

main {
    width: auto;
    height: 100%;
}

#slide_Container {
    width: auto;
    height: 20em;
}

#slide_Picture {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;
    height: 20em;
}

#slide_Header {
    padding-top: 1em;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px#222222;
    margin-bottom: 8.2em;
    background-color: rgba(51, 51, 51, 0.2);
}

#announcement_Bar {
    margin-top: 18px;
    margin-left: 36px;
    margin-right: 36px;
    background-color: #006633;
    height: 40px;
    color: white;
}

#announcement_Title {
    float: left;
    margin-top: 4px;
    margin-left: 22px;
    font-size: 16.53pt;
}

#announcement_Text {
    margin-top: 11px;
    padding-left: 1em;
    font-size: 11pt;
    display: inline-block;
}

#announcement_Close {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    font-weight: bold;
    transform: scale(0.8, 0.6);
    user-select: none;
    cursor: pointer;
}

#announcement_Close:hover { text-shadow: 1px 1px black; }

#first_Container {
    width: 1035px;
    height: 100%;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

#second_Container {
    margin-top: 0;
    width: 736px;
    height: 100%;
    display: inline-block;
}

#third_Container {
    float: right;
    width: 276px;
    height: 100%;
}

#third_Container a { text-decoration: none; }

.main_Bar {  
    background-color: #222222;
    height: 40px;
    color: white;
}

.main_Title {
    margin-top: 0;
    padding-top: 4px;
    margin-left: 20px;
    font-size: 16.53pt;
}

.socials_Bar {
    background-color: #222222;
    height: 40px;
    color: white;
}

.socials_Title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
    margin-left: 20px;
    font-size: 16.53pt;
}

.events_Container {
    margin-top: 18px;
    height: 98px;
}

.event_Whole {
    float: left;
    width: 350px;
    height: 95px;
    user-select: none;
    cursor: pointer;
    margin-left: 0;
}

.event_Whole a { text-decoration: none; }

.event_Date {
    float: left;
    width: 85px;
    height: 95px;
    color: black;
    text-align: center;
    border: 1px solid rgb(173, 173, 173);
}

.event_Month { font-size: 10pt; margin-top: 3px; margin-bottom: 0; }
.event_Num, .event_Num_Today { margin-top: 3px; margin-bottom: 0; }
.event_Day, .event_Day_Today { margin-top: 3px; }

.event_Text {
    font-size: 13pt;
    transform: scale(1,1);
    margin-left: 6em;
    margin-top: 0;
}

.event_Description {
    font-size: 9pt;
    margin-left: 9em;
    color: rgb(107, 107, 107);
}

.event_Month_Title {
    margin-bottom: 0px;
}

#socials_Facebook {
    margin-top: 18px;
    height: 40px;
    background-color: #0066ff;
    background-image: linear-gradient(#3e8bfd, #0066ff);
    color: white;
}

#socials_Twitter {
    margin-top: 18px;
    height: 40px;
    background-color: #00ccff;
    background-image: linear-gradient(#97eaff, #00ccff);
    color: white;
}

#socials_Youtube {
    margin-top: 18px;
    height: 40px;
    background-color: #ff1818;
    background-image: linear-gradient(#ff6e6e, #ff1818);
    color: white;
}

#socials_FB, #socials_TW, #socials_YT {
    margin-top: 18px;
    padding-top: 5px;
    padding-left: 6em;
    margin-bottom: 0;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}

#socials_Entire {
    user-select: none;
    cursor: pointer;
}

#image_FB, #image_TW, #image_YT {
    float: left;
    padding-left: 4.8em;
    padding-top: 5px;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}

.news_Container { 
    margin-top: 18px; 
    user-select: none;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(#ffffff, #eeeeee);
}

.news_Bar {
    height: 180px;
    border: 1px dashed rgb(173, 173, 173);
}

.news_Image {
    float: left;
    width: 180px;
    height: 167px;
    margin-top: 7px;
    margin-left: 7px;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 5px solid #008cff;
    padding-left: 10px;
}

.news_Header {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 10px;
}

.news_Description {
    display: inline-block;
    width: 507px;
    height: auto;
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 0;
}

.news_Author {
    display: inline-block;
    margin-top: 0;
    margin-left: 2em;
    margin-right: auto;
    font-size: 8pt;
    color: rgb(173, 173, 173);
    height: 25px;
    font-style: italic;
}

footer {
    margin-top: 3em;
    padding-bottom: 2em;
    text-align: center;
}

footer p, footer a { 
    margin: 0; 
    font-size: 9pt;
    font-style: italic;
}

footer a { text-decoration: underline; }

.picture_Box {
    margin-top: 18px;
    display: inline-block;
    margin-left: 20px;
    width: 327px;
    height: 280px;
    background-image: linear-gradient(#ffffff, #ebebeb);
    border: 1px solid rgb(196, 196, 196);
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture_Image {
    display: block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 292px;
    height: 187px;
}

.picture_Source {
    text-align: center;
    font-size: 8pt;
    color: rgb(114, 114, 114);
    font-style: italic;
}

.picture_Description {
    text-align: center;
    font-size: 9pt;
}

.bold { font-weight: bold; }

#weather_Container { text-align: center; }
#weather_Container h3 { margin-bottom: 0px; }
#weather_Date { margin-top: 5px; color: rgb(102, 102, 102); }

#advertisement_Container img { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; }

.useful_Title {
    color: black;
    margin-bottom: 2px;
}

.useful_Link {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.useful_More {
    display: block;
    color: #0066ff;
    font-weight: bold;
}

#table_Container { 
    margin-top: 22px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); 
}

#table_Table { border-collapse: collapse; }
#table_Table tr:nth-child(even) { background-color: #e0e0e0; }

#table_Table td, th {
    border: 1px solid #cfcfcf;
    text-align: center;
    padding: 8px;
}

#form_Container {
    margin-top: 22px;
    height: 750px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(#ffffff, #eeeeee);
}

#form_Whole { padding-top: 2em; }

#form_Container input[type=text], input[type=email], label, textarea {
    margin-left: 8%;
    margin-right: auto;
    width: 80%;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 16px;
    padding: 12px;
    border: 0;
    outline: none;
}

#form_Container input[type=text], input[type=email], textarea {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_Container input[type=text]:focus {
    outline: none;
}

#form_Container select {
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 16px;
    padding: 12px;
}

#form_Container input[type=submit] {
    float: right;
    margin-right: 4.6em;
    padding: 15px 32px;
    text-align: center;
    border: none;
    background-color: rgb(123, 180, 255);
}

#form_Container input[type=submit]:hover { 
    background-color: rgb(174, 209, 255); 
    cursor:pointer; 
}

#thanks_Title { margin-bottom: 0; text-align: center; }
#thanks_Title2 { margin-top: 0; text-align: center; }

.business_UnlistedList {
    padding: 0;
    list-style-type: none;
}

.business_Container {
    margin-top: 18px;
    margin: 1.3em;
    margin-right: 2.8em;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(#ffffff, #eeeeee);
}

.business_ListItems {
    height: auto;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.business_UnlistedList li:last-child { border-bottom: none }

.business_Image {
    margin-top: 0;
    float: left;
}

.business_Item {
    display: inline-block;
    margin-top: 6px;
    margin-left: 1em;
}

.business_Large {
    font-weight: bold;
}

.business_Source {
    font-size: 12px;
    font-style: italic;
    color: rgb(131, 131, 131);
}

#site_Title_Home {
    display: none;
}

#text_More {
    margin-top: 2em; 
    margin-left: 0;
    text-align: center;
    font-weight: bold; 
    color:#008cff;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0px;
        background-image: none;
    }

    #wrapper {
        width: auto;
        min-width: 0px;
        margin: 0px;
        padding: 0px;
    }

    #announcement_Bar {
        margin-left: 0;
        margin-right: 0;
    }

    #first_Container {
        width: auto;
    }

    #second_Container {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #third_Container {
        display: none !important;
    }
    
    .events_Container {
        display: flex;
        justify-content: center;
    }

    .event_Date p, h1{
        margin-left: auto;
        margin-right: auto;
    }

    #announcement_Text {
        font-size: 10pt;
    }

    .news_Container {
        margin-left: 18px;
        margin-right: 18px;
        height: auto;
    }

    #picture_Container { 
        margin-left: auto;
        margin-right: auto;   
    }

    #slide_Header {
        display: none;
    }

    #slide_Container {
        max-width: 100%;
        margin-top: 3em;
        left: 0px;
        right: 0px;
    }

    #slide_Picture {
        width: 100%;
        left: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main_Bar {
        width: auto;
    }

    .event_Month_Title {
        margin-left: 1em;
    }

    #table_Container {
        margin-left: 22px;
        margin-right: 22px;
    }

    .business_Container {
        margin-left: 22px;
        margin-right: 22px;
    }

    #form_Container {
        margin-left: 22px;
        margin-right: 22px;
    }

    #thanks_Container h3, p{
        margin-left: 22px;
    }
}

@media only screen and (max-width: 795px) {
    #announcement_Bar {
        display: none;
    }

    #slide_Container {
        display: none;
    }

    #site_Title_Home {
        display: block;
    }

    .site_Title h1 {
        margin-top: 15px;;
    }

    .news_Image {
        display: none;
    }

    .news_Description {
        width: auto;
        margin-left: 22px;
        margin-right: 22px;
    }

    .news_Bar {
        height: auto;
    }

    nav {
        margin: 0px;
        height: auto;
    }

    nav a {
        display: block;
        width: auto;
        border-bottom: 1px solid #dadada;
        padding-bottom: 0.5em;
        background-color: rgb(233, 233, 233);
    }

    nav li {
        display: block;
        margin-right: 0;
    }

    nav ul {
        padding: 0px;
        margin: 0px;
    }

    .events_Container {
        display: inline-block;
        margin-left: 1em;
        height: auto;
    }

    #events_Whole {
        display: block;
        width: auto;
        float: none;
    }

    .picture_Box {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    #search {
        display: none;
    }
}