header,
nav,
main,
footer {
    display: block;
}

body {
    border-top: 4px solid rgb(255, 104, 104);
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', 'Roboto', 'Verdana';
}

#Header_Container {
    height: 120px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

header {
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header img {
    margin-top: 1em;
    float: left;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    transition: transform .2s;
}

header img:hover {
    transform: scale(1.1);
}

header h1 {
    display: inline-block;
    margin-left: 1em;
    color: rgb(158, 40, 40);
    margin-bottom: 0;
}

header h6 {
    display: inline-block;
    margin: 0;
    margin-left: 3em;
}

#Nav_Container {
    height: 40px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

nav {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    margin-top: 0;
    list-style-type: none;
}

nav li {
    display: block;
    float: left;
    position: relative;
}

nav li a {
    display: block;
    width: 150px;
    padding-bottom: 18px;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: rgb(88, 88, 88);
}

nav li:hover {
    border-bottom: 3px solid rgb(255, 104, 104);
}

#Nav_Current {
    border-bottom: 3px solid rgb(255, 104, 104);
}

.Nav_DropdownContainer {
    position: absolute;
    display: none;
    margin-top: 3px;
    padding: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
}

#Nav_List ul li {
    padding-top: 1em;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.Nav_DropdownContainer li a:after {
    content: "";
}

.Nav_Dropdown a:hover~ul {
    display: block;
}

.Nav_DropdownContainer:hover {
    display: block;
    background-color: white;
}

.Nav_Dropdown a:after {
    content: " ▼";
}

#Main_Container {
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(255, 250, 250);
}

main {
    width: 1150px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238));
    padding-bottom: 2em;
}

#Main_Column1 {
    margin-top: 1em;
    margin-left: 2em;
    width: 62%;
    float: left;
}

#Main_Column1 img {
    display: inline-block;
}

#Main_Column2 {
    margin-top: 1em;
    margin-left: 2em;
    width: 30%;
    float: left;
}

#Footer_Container {
    border-top: 1px solid rgb(226, 226, 226);
    height: auto;
    font-style: italic;
    font-size: 8pt;
    text-align: right;
    padding-bottom: 6em;
}

footer {
    margin-top: 2em;
    width: 1170px;
    color: rgb(173, 173, 173);
    margin-right: auto;
    margin-left: auto;
}

#Footer_Left {
    float: left;
}

footer a {
    display: block;
}

footer a:link,
footer a:visited {
    color: rgb(173, 173, 173);
}

#grid {
    display: block;
    width: 1100px;
    height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 8pt;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform .2s;
}

#grid:hover {
    transform: scale(1.02);
}

#visualize_Button {
    background-color: #af4c5c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    float: left;
    font-size: 16px;
    margin: 1em;
    cursor: pointer;
}

#visualize_Button:hover {
    background-color: #c97683;
}

#retry_Button {
    background-color: #af814c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    float: left;
    margin-top: 1em;
    font-size: 16px;
    cursor: pointer;
}

#retry_Button:hover {
    background-color: #e2af41;
}

.main_Label {
    margin-top: 16px;
    text-align: center;
    font-size: 8pt;
    display: block;
}

.Slider_Container {
    display: inline-block;
    margin-left: 1em;
    height: 80px;
    width: 200px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: #d3d3d3;
    height: 20px;
    overflow: hidden;
    width: 200px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 20px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(87, 43, 43);
    box-shadow: -210px 0 0 200px rgb(168, 93, 93);
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(124, 53, 53);
}

input[type='range']::-moz-range-thumb {
    background: #333;
    border-radius: 50%;
    box-shadow: -1010px 0 0 1000px #666;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
}

input[type="range"]::-moz-range-track {
    background-color: #ddd;
}

input[type="range"]::-moz-range-progress {
    background-color: #666;
    height: 20px
}

input[type="range"]::-ms-fill-upper {
    background-color: #ddd;
}

input[type="range"]::-ms-fill-lower {
    background-color: #666;
}

@media only screen and (max-width: 1200px) {
    main {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    header {
        width: auto;
    }

    nav {
        width: auto;
    }

    footer {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 10em;
    }
}

@media only screen and (max-width: 846px) {
    #Main_Column1 {
        width: auto;
        margin-right: 2em;
    }

    #Main_Column2 {
        width: auto;
        margin-right: 2em;
    }
}

@media only screen and (max-width: 545px) {
    #Nav_Container {
        height: auto;
    }

    nav {
        margin: 0px;
        height: auto;
    }

    nav a {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    nav li {
        display: block;
        float: none;
        padding: 10px;
        border-bottom: 2px solid #d3d3d3;
    }

    nav ul {
        padding: 0px;
        margin: 0px;
    }

    .Nav_DropdownContainer {
        z-index: 5;
        margin-top: 0;
        margin-left: 163px;
        margin-right: auto;
    }

    .Nav_DropdownContainer li a {
        width: auto;
    }

    #Nav_List li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}